.ball {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border-radius: 99%;
  background-color: yellow;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

span {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.false {
  opacity: 0.4;
}

.true {
  opacity: 1;
}
