.ball {
    border-radius: 50%;
    background-color: yellow;
    height: 100%;
    width: 100%;
    display: flex;
    margin: 5px;
}

span {
    top: 50%;
    left: 50%;
    margin: auto;
    color: black;
    font-weight: bold;
}

.false {
    opacity: 0.5;
}

.true {
    opacity: 1;
}